*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
	font-family: sans-serif;
}

header{
	width: 100%;
	height: 50px;
	background: #215bab;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 0 50px;
}

.logo{
	height: 35px;
}

.ingresa{
	height: 100%;
	display: flex;
	align-items: center;
}

.content{
	width: 100%;
	height: 500px;
	background-image: url("../img/buildings.jpg");
	background-size:cover;
	display: flex;
	align-items: center;
	justify-content: center;
}

.log-box{
	width: 350px;
	height: 400px;
	background: #fff;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 20px
}

.log-box h4{
	color: #292929;
	font-size: 25px;
	text-align: center;
	width: 100%;
	border-bottom: 1px solid #292929;
}

.log-box form{

}

form input{
	width: 300px;
	margin-bottom: 30px;
	padding:10px 5px;
	border-style: none;
	border: 1px solid #9b9b9b;
	border-radius: 2px;
}

form .text:focus{
	border: 2px solid #ec5e2c;
	border-radius: 2px;
}

form .button:hover{
	background: #215bab;
	color: #fff;
}

form .button:active{
	background: #ff4735;
	color: #fff;
}



footer{
	height: 70px;
	background: #2c2c2c;
	padding: 0 50px;
	color: #fff;
	display: flex;
	align-items: center;
}